<%	provide(:title,	"Home")	%>
<div	class="center	jumbotron">
  <h1>Framgia E-Learning System</h1>
  <h2>
    Learning Portal
  </h2>
  <%=	link_to	"Sign	up",	"#" ,	class:	"btn	btn-lg	btn-primary"	%>
</div>
